<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <display-name>Parkn Shop</display-name>
  <description>
  whatever
  </description>
  <welcome-file-list>
    <welcome-file>public/index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.parknshop.web.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/administer&amp;public/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sellercenter</servlet-name>
    <servlet-class>com.parknshop.web.Sellercenter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sellercenter</servlet-name>
    <url-pattern>/seller/sellercenter.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.parknshop.web.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/administer&amp;public/register.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sellerregist</servlet-name>
    <servlet-class>com.parknshop.web.SellerRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sellerregist</servlet-name>
    <url-pattern>/seller/sellerregist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>handleapply</servlet-name>
    <servlet-class>com.parknshop.web.HandleApply</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handleapply</servlet-name>
    <url-pattern>/administer&amp;public/acceptapply.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addproduct</servlet-name>
    <servlet-class>com.parknshop.web.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addproduct</servlet-name>
    <url-pattern>/seller/addproduct.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Delfavorite</servlet-name>
    <servlet-class>com.parknshop.web.Delfavorite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delfavorite</servlet-name>
    <url-pattern>/customer/favoritedelete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addfavorite</servlet-name>
    <servlet-class>com.parknshop.web.Addfavorite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addfavorite</servlet-name>
    <url-pattern>/public/addFavorite.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchByName</servlet-name>
    <servlet-class>com.parknshop.web.SearchByName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchByName</servlet-name>
    <url-pattern>/public/SearchByName</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteproduct</servlet-name>
    <servlet-class>com.parknshop.web.Deleteproduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteproduct</servlet-name>
    <url-pattern>/seller/deleteproduct.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyproduct</servlet-name>
    <servlet-class>com.parknshop.web.Modifyproduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyproduct</servlet-name>
    <url-pattern>/seller/modifyproduct.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>paymentconfirm</servlet-name>
    <servlet-class>com.parknshop.web.PaymentConfirm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentconfirm</servlet-name>
    <url-pattern>/public/pay.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addcart</servlet-name>
    <servlet-class>com.parknshop.web.Addtocart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcart</servlet-name>
    <url-pattern>/public/addtocart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>handlecart</servlet-name>
    <servlet-class>com.parknshop.web.Handleshopcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>handlecart</servlet-name>
    <url-pattern>/customer/handleshopcart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>pay</servlet-name>
    <servlet-class>com.parknshop.web.Pay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pay</servlet-name>
    <url-pattern>/customer/pay.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteorder</servlet-name>
    <servlet-class>com.parknshop.web.Deleteorder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteorder</servlet-name>
    <url-pattern>/seller/deleteorder.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchbyshop</servlet-name>
    <servlet-class>com.parknshop.web.SearchByshop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchbyshop</servlet-name>
    <url-pattern>/public/SearchByShop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchbytype</servlet-name>
    <servlet-class>com.parknshop.web.SearchBytype</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchbytype</servlet-name>
    <url-pattern>/public/searchbytype.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>change_password</servlet-name>
    <servlet-class>com.parknshop.web.Changepassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>change_password</servlet-name>
    <url-pattern>/seller/change_password.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delshopcart</servlet-name>
    <servlet-class>com.parknshop.web.DeleteCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delshopcart</servlet-name>
    <url-pattern>/customer/shopcartdelete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>black</servlet-name>
    <servlet-class>com.parknshop.web.Blacklist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>black</servlet-name>
    <url-pattern>/administer&amp;public/blacklist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteuser</servlet-name>
    <servlet-class>com.parknshop.web.Userdelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteuser</servlet-name>
    <url-pattern>/administer&amp;public/userdelete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>removefromblacklist</servlet-name>
    <servlet-class>com.parknshop.web.Removefromblacklist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removefromblacklist</servlet-name>
    <url-pattern>/administer&amp;public/removefromblaclist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>calculate</servlet-name>
    <servlet-class>com.parknshop.web.Calculate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calculate</servlet-name>
    <url-pattern>/administer&amp;public/calculate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changerate</servlet-name>
    <servlet-class>com.parknshop.web.ChangeRate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changerate</servlet-name>
    <url-pattern>/administer&amp;public/changerate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delshop</servlet-name>
    <servlet-class>com.parknshop.web.Deleteshop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delshop</servlet-name>
    <url-pattern>/administer&amp;public/deleteshop.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changestore</servlet-name>
    <servlet-class>com.parknshop.web.ChangeStore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changestore</servlet-name>
    <url-pattern>/seller/changestore.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changeorder</servlet-name>
    <servlet-class>com.parknshop.web.ChangeOrderStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeorder</servlet-name>
    <url-pattern>/seller/changeorderstate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manageadv</servlet-name>
    <servlet-class>com.parknshop.web.ManageAdv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manageadv</servlet-name>
    <url-pattern>/seller/manageadv.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>comment</servlet-name>
    <servlet-class>com.parknshop.web.Comment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>comment</servlet-name>
    <url-pattern>/customer/comment.do</url-pattern>
   </servlet-mapping>
    <servlet>
    <servlet-name>updateperson</servlet-name>
    <servlet-class>com.parknshop.web.ChangePersonInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateperson</servlet-name>
    <url-pattern>/customer/updateperson</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
          com.parknshop.web.DatabaseInitiater
      </listener-class>
  </listener>
</web-app>